@charset "utf-8";

/* 상단/하단 영역 */

body * {
/* outline: 1px dashed gray; */
}

/* 1. 상단영역 */
.logo{
    padding: 10px;
}

.top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 1-1 메인로고 */

/* gnb메뉴 */
.gnb>ul{
    display: flex;
}
.gnb>ul>li{
    padding: 10px 30px 0;
}
.gnb>ul>li>a{
    display: block;
    font-size: 2rem;
    line-height: 5rem;
}
.gnb>ul>li>a:hover{
    color: rgba(200,165,145,1);
}

/* 서브메뉴 */
.smenu{
    position: absolute;
    z-index: 3;
    height: 0;
    overflow: hidden;
    transition: height .4s ease-in-out;
    /* clip-path: polygon(7px 0, calc(100% - 7px) 0, 100% 7px, 100% calc(100% - 7px), calc(100% - 7px) 100%, 7px 100%, 0 calc(100% - 7px), 0 7px); */
}
.smenu a{
    display: block;
    left: 0;
    font-size: 1.7rem;
    line-height:4rem;
}

.gnb>ul>li:hover .smenu,
.gnb>ul>li.tm:hover::after{
    height: 50%;
}
.gnb>ul>li.tm::after{
    content: '';
    display: block;
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgb(255, 255, 255);
    transition: height .4s ease-in-out;
}

/* sns로고 */
.sns{
    display: flex;
    align-items: center;
}

.sns>ul{
    display: flex;
    padding-right: 5vw;
}
.rev{
    white-space: nowrap;
    padding: 3px 10px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.rev:hover{
    background-color: rgb(56, 53, 53);
}
.rev:hover a{
    color: #fff;
}


/* 2. 메인영역 */
.cont{
    min-height: 800px;
}

/* 상단이동버튼 */
.icon{
    position: fixed;
    bottom: 20px;
    right: 20px;

}
.icon>a>img{
    width: 3vw;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgb(79, 77, 77);
}


/* 3. 하단영역 */
#info{
    background-color: rgb(225,225,225,1);
}

.info{
    position: relative;
    height: 500px;
}
.flogo{
    display: flex;
    flex-direction: column;
    float: left;
    width: 200px;
    margin-top: 250px;
    text-align: center;
}

.flogo span{
    font-size: 1.5rem;
    line-height: 50px;
    color: rgb(87, 86, 86);
    text-align: right;
}

.cinfo{
    position: absolute;
    right: 50px;
    top: 30px;
}
.roc{
    font-style: normal;
    font-size: 2rem;
    line-height: 45px;
}
