@charset "utf-8";

@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 이미지 크기 일단 조정 */
/* .bgc img, */.inti img, .bimg img, .lastimg img{
    width: 50%;
    height: 50%;
}

/* 2. 메인영역 */

/* 메인페이지1 */
.tmwrap{
    position: relative;
}
.tmain{
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    /* position: fixed; */
}

.mainw{
    position: absolute;
    text-align: center;
    font-family: 'Gowun Batang', serif;
    font-size: 2.5rem;
    line-height: 2;
    right: 30%;
    top: 25%;
    animation: twAni 2.5s ease-in; 
}
@keyframes twAni {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.mainw h1{
    padding-left: 20px;
    letter-spacing: 30px;
}
.slider{
    position: relative;
    width: 100%;
    height: 100%;
}
.slider>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    /* clip-path: polygon(50px 0, calc(100% - 50px) 0, 100% 50px, 100% calc(100% - 50px), calc(100% - 50px) 100%, 50px 100%, 0 calc(100% - 50px), 0 50px); */
}
@keyframes bgcAni {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* 메인페이지2 */
.mint{
    height: 100vh;
    padding-top: 50px;
    background-color: #fff;
}
.mitit{
    width: 30%;
    font-size: 4rem;
    font-family: 'Gowun Batang', serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 50px;
}

.intimg>img{
    width: 55.5%;
    float: right;
    transform: translate(-10%, 30%);
}
.mintbx{
    padding: 200px 0 0 50px;
    font-size: 1.7rem;
    font-family: 'Gowun Dodum', sans-serif;
}
