@charset "utf-8";

@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 이미지 크기 일단 조정 */
/* .bgc img, */.inti img, .bimg img, .lastimg img{
    width: 50%;
    height: 50%;
}

.cont{
    position: relative;
}
/* .cont::before{
    content: '';
    display: block;
    padding-top: 65.66%;
} */

.tmain{
    height: 700px;
    /* overflow: hidden; */
    padding-top: 30px;
    margin: 0 auto;
}


.mainw{
    position: absolute;
    text-align: center;
    font-size: 3rem;
    right: 15%;
    top: 150px;
    line-height: 90px;
    animation: twAni 2.5s ease-in; 
}
@keyframes twAni {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.mainw h1{
    padding-left: 20px;
    letter-spacing: 20px;
}

.bgc{
    position: absolute;
    text-align: center;
}
.bgc img{
    width: 100%;

}
@keyframes bgcAni {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
