@charset "utf-8";

@media screen and (max-width:1200px) {
    .mobtn{
        display: block;
    }
    .rev{
        display: none;
    }
    .gnb{
        display: none;
    }
    .topwrap{
        padding: 0 20px;
    }
}