@charset "utf-8";

@import url(reset.css);
@import url(core.css);
@import url(common.css);

.cont {
    padding-top: 85px;
}

.stit{
    font-size: 3rem;
    margin: 20px 0;
    border: 1px solid rgb(200 165 145);
}
.simg{
    width: 25%;
}
.extit{
    font-size: 2rem;
    padding-left: 6%;
    line-height: 2.5;
}
.exfbx{
    display: flex;
}
.exicon{
    display: flex;
}
.exi{
   margin:0 10px;
   padding: 5px;
   border: 1px solid #000;
   border-radius: 10%;
}
.exinfo{
    padding: 50px 0;
    width: 100%;
    text-align: center;
    line-height: 2;
}
.exinfoimg{
    width: 60%;
    margin: 0 auto;  
}